<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <h1 style = "text-align: center; margin: 5px auto;">Connect with me at</h1>
    </div>

    <div class="row">
        <div style = "width: 30%; margin: 5px auto; text-align: center;">
            <a href="https://www.github.com/vpmanwani" target="_blank" class="icon-link"><i class="github icon big"></i></a>
            <a href="https://www.linkedin.com/in/vishal-manwani-62a05665/" target="_blank" class="icon-link"><i class="linkedin icon big"></i></a>
            <a href="https://www.facebook.com/vpmanwani" target="_blank" class="icon-link"><i class="facebook icon big"></i></a><br><br>
            <a href="" target="_blank" class="icon-link"><i class="google icon small"></i></a>: vishalmanwani3@gmail.com <br>
        </div>
    </div>
    <hr>
    <i class="copyright icon"></i>Copyright vpmanwani
</div>

<%- include("./partials/footer") %>